@CHARSET "UTF-8";

body {
	font-family: Lato;
	font-size: 14px;
	background-color: #BB9776;
}

.header {
	background-position: center;
	background-origin: content-box;
	background-image: -webkit-linear-gradient(270deg, rgba(187, 151, 118, 1.00)
		22.28%, rgba(187, 151, 118, 0.65) 34.20%, rgba(223, 219, 213, 0.44)
		78.76%, rgba(223, 219, 213, 1.00) 87.57%), url(../img/body_bg_1.png);
	background-image: -moz-linear-gradient(270deg, rgba(187, 151, 118, 1.00)
		22.28%, rgba(187, 151, 118, 0.65) 34.20%, rgba(223, 219, 213, 0.44)
		78.76%, rgba(223, 219, 213, 1.00) 87.57%), url(../img/body_bg_1.png);
	background-image: -o-linear-gradient(270deg, rgba(187, 151, 118, 1.00)
		22.28%, rgba(187, 151, 118, 0.65) 34.20%, rgba(223, 219, 213, 0.44)
		78.76%, rgba(223, 219, 213, 1.00) 87.57%), url(../img/body_bg_1.png);
	background-image: linear-gradient(180deg, rgba(187, 151, 118, 1.00)
		22.28%, rgba(187, 151, 118, 0.65) 34.20%, rgba(223, 219, 213, 0.44)
		78.76%, rgba(223, 219, 213, 1.00) 87.57%), url(../img/body_bg_1.png);
	background-size: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.upper-line {
	background: #3b372e;
	position: static;
	margin-top: 0;
	padding: 6px 0;
}

.upper-line a {
	color: #ffffff;
}

.upper-line .active {
	color: #E8D5B1;
}

.site-types {
	color: rgb(255, 255, 255);
	position: relative;
	left: 5%;
	float: left;
}

.company-phone {
	color: rgb(255, 255, 255);
	position: relative;
	right: 5%;
	float: right;
}

.logo {
	left: 0;
	margin-left: 0px;
	float: left;
	width: 20%
}

.navigation {
	float: left;
	text-align: center;
	width: 60%;
	margin-bottom: 0;
	font-size: 1.711em;
	padding-top: 20px;
}

.main_nav-control-panel {
	float: left;
	width: 20%;
	padding-top: 30px;
}

.btn .btn-default {
	background-image: url(../img/btn.png);
	background-color: #AFA296;
}

.main_nav {
	margin: 0 auto;
	width: 80%;
	padding-top: 30px;
	padding-right: 0;
	padding-left: 0;
}

.nav-bar {
	list-style: none;
	display: inline-block;
	bottom: 0;
}

.header-text-btn {
	display: inline-block;
	position: relative;
	margin-top: 60px;
	margin-bottom: 10px;
}

.header-text-btn:before {
	content: "";
	width: 170px;
	height: 2px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	left: -200px;
	top: 20px;
}

.header-text-btn:after {
	content: "";
	width: 170px;
	height: 2px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	right: -200px;
	top: 20px;
}

.nav-bar li {
	float: left
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 15%;
	margin: auto;
}

.carousel-control.right {
	background: none;
}

.carousel-control.left {
	background: none;
}

.header-text-wraper {
	margin: 0 auto;
	text-align: center;
}

.content-wraper {
	background-image: -webkit-linear-gradient(270deg, rgba(187, 151, 118, 1.00)
		67.36%, rgba(255, 255, 255, 0.00) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	background-image: -moz-linear-gradient(270deg, rgba(187, 151, 118, 1.00)
		67.36%, rgba(255, 255, 255, 0.00) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	background-image: -o-linear-gradient(270deg, rgba(187, 151, 118, 1.00)
		67.36%, rgba(255, 255, 255, 0.00) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	background-image: linear-gradient(180deg, rgba(187, 151, 118, 1.00)
		67.36%, rgba(255, 255, 255, 0.00) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	width: 100%;
	height: 30%;
}

.bg-image {
	
}

.container-fluid {
	height: 100%;
	padding: 0;
	width: 100%;
}

.upper-line .row {
	margin: 0;
	padding: 0;
}

.header hr {
	margin: 0 auto;
	width: 80%;
}

.carousel {
	margin-top: 10px;
}

.nav-wrap {
	margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 80%;
}

.nav .img-left {
	float: left;
}

.nav-btn {
	width: 24px;
}

.main_nav-control-panel img {
	width: 32px;
	height: 32px;
}

.btn-default {
	color: #ffffff;
	background-color: #AFA296;
	border-radius: 0px;
	border-color: #ffffff;
}

.box {
	border: 1px solid #ffffff;
	color: #ffffff;
	background-color: #a79d94;
	width: 29.6%;
	float: left;
	text-align: center;
	margin: 1.85%;
	padding-bottom: 2%;
	padding-top: 2%;
}

.box hr {
	padding: 3%;
}

.layout img {
	height: 64px;
	width: 64px;
}

.layout {
	display: inline-block;
	margin-top: 10%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 0;
	width: 80%;
}

.box a {
	color: #ffffff;
	padding-top: 3%;
}

.nav-bar a {
	color: #ffffff;
}

.nav-bar .active {
	color: #E8D5B1;
}

.nav-bar li:hover {
	background-color: #E8D5B1;
}

.body-text-wraper {
	margin: 0 auto;
	text-align: center;
	background-color: #dfdbd5;
}

.block-clients {
	margin: 0 auto;
	padding-top: 0;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 5%;
	width: 80%;
}

.block-clients img {
	padding: 2%;
}

.map img {
	width: 100%;
	padding-top: 5%;
}

.discount {
	background-image: -webkit-linear-gradient(270deg, rgba(187, 151, 118, 0.82)
		0%, rgba(187, 151, 118, 0.79) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	background-image: -moz-linear-gradient(270deg, rgba(187, 151, 118, 0.82)
		0%, rgba(187, 151, 118, 0.79) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	background-image: -o-linear-gradient(270deg, rgba(187, 151, 118, 0.82)
		0%, rgba(187, 151, 118, 0.79) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	background-image: linear-gradient(180deg, rgba(187, 151, 118, 0.82) 0%,
		rgba(187, 151, 118, 0.79) 100%),
		url(../img/v_sochi_ustanavlivajut_specialnye_turisticheskie_telefonnye_apparaty.jpg);
	background-position: center;
	background-size: 100%;
}

.footer {
	margin-top: 5%;
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	float: none;
}

.form {
	margin-left: 10%;
	width: 25%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.form-horizontal {
	border-color: #000000;
	border-style: outset;
	text-align: center;
	border-radius: 3%;
	background-color: #574a76;
}

.form-horizontal p {
	padding: 10%;
	color: #ffffff;
}

.form-input {
	padding-top: 5%;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 5%;
}

.form-control {
	border-radius: 0;
}

.input-group-addon {
	border-radius: 0;
}

.btn-discount {
	text-transform: uppercase;
	background: #96b69a;
	border: 1px outset #FFFFFF;
	border-radius: 0;
	color: #ffffff;
}

.col {
	float: left;
	margin-left: 1.85%;
	width: 21%;
	/* [disabled]padding-right: 5%; */
	/* [disabled]padding-left: 5%; */
	margin-right: 1.85%;
	text-align: left;
	margin-bottom: 2%;
}

.footer hr {
	width: 80%;
	float: none;
	clear: both;
}

.footer .social {
	float: right;
	padding-right: 5%;
}

.footer .copyright {
	float: left;
	padding-left: 5%;
}

footer {
	border-width: 5px;
}

.container {
	background-color: #ffffff;
	padding-top: 3%;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 3%;
	width: 100%;
	margin-top: 0;
}

.container .col-md-1 {
	padding-top: 2%;
}

.container .col-right {
	float: right;
}

.container .head-title {
	padding-bottom: 5%;
	text-transform: uppercase;
}

.container .col-md-8 p {
	padding-bottom: 2%;
}

.left_col_date .request_date {
	margin-top: 30px;
}

.left_col_date .request_date .date_wraper {
	margin: 0 auto;
}

#day {
	display: block;
	width: 100%;
	height: 68px;
	background: #D3A35B;
	font-size: 2.5em;
	line-height: 68px;
	color: #fff;
	text-align: center;
}

#year_month {
	display: block;
	width: 100%;
	height: 59px;
	background: #3e454c;
	padding-top: 7px;
	box-sizing: border-box;
	text-align: center;
}

#month {
	color: #858a8e;
	text-transform: uppercase;
}

#year {
	color: #fff;
	font-size: 0.9375;
}

.breadcrumb {
	border-radius: 0;
	background-color: #dfdbd5;
	border-width: medium;
	border-color: #000000;
}

.nav-dread {
	border: medium #000000;
}

.contact {
	/* [disabled]padding-bottom: 5%; */
	/* [disabled]background: #594888; */
	/* [disabled]color: #fff; */
	width: 100%;
	text-align: center;
}

.contact img {
	width: 24px;
	height: 24px;
}

.contact span {
	padding: 0 2%;
}

.accordion {
	text-align: left;
	background: #594888;
	margin: 5% 0;
	width: 100%;
	color: #fff;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	text-transform: uppercase;
}

.accordion .first {
	background-image: -webkit-linear-gradient(270deg, rgba(89, 72, 136, 0.49)
		0%, rgba(89, 72, 136, 0.55) 100%),
		url(../img/%D0%9A%D0%B0%D0%BA-%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C-%D0%B2-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D0%B52.jpg);
	background-image: -moz-linear-gradient(270deg, rgba(89, 72, 136, 0.49)
		0%, rgba(89, 72, 136, 0.55) 100%),
		url(../img/%D0%9A%D0%B0%D0%BA-%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C-%D0%B2-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D0%B52.jpg);
	background-image: -o-linear-gradient(270deg, rgba(89, 72, 136, 0.49) 0%,
		rgba(89, 72, 136, 0.55) 100%),
		url(../img/%D0%9A%D0%B0%D0%BA-%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C-%D0%B2-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D0%B52.jpg);
	background-image: linear-gradient(180deg, rgba(89, 72, 136, 0.49) 0%,
		rgba(89, 72, 136, 0.55) 100%),
		url(../img/%D0%9A%D0%B0%D0%BA-%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C-%D0%B2-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D0%B52.jpg);
	background-size: 100% 100%;
	background-position: center;
}

.accordion span {
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 0;
}

.accordion p {
	float: right;
	clear: both;
}

.breadcrumb>li+li:before {
	content: '>';
	color: #000;
}

.breadcrumb {
	margin: 0 !important;
}

.collapse-back {
	padding: 5%;
	background: #594888;
	color: #fff;
}
.accordion-back {
	margin-top: 5%;
	background: #594888;
}
.panel-group .panel {
	border-radius: 0;
	margin: 0;
	border: none;
}

.first {
	background: url(../img/Как-купить-в-интернет-магазине2.jpg) no-repeat;
	/* Добавляем фон */
	background-size: cover; /* Масштабируем фон */
}

.midle {
	background: url(../img/bdda6472-36bbfa0a0a2.jpg) no-repeat;
	/* Добавляем фон */
	background-size: cover; /* Масштабируем фон */
}

.last {
	background: url(../img/13image2.jpg) no-repeat; /* Добавляем фон */
	background-size: cover; /* Масштабируем фон */
}

.collapse_no_bg {
	background: none !important;
	height: 200px;
}
